# Python
*.pyc
*.pyo
*.spec
*.c
*.pyd
*.so
test.py
__pycache__

# Documents
test


# Files
*.bat
server.ico
start.py

# Build
build
dist
dist-
dist_py38

LICENSE.rst

db/test_db.sqlite3
job2en.py

新建文本文档.txt

venv
.env